.button {
    margin-top: 25px;
    height: 60px;
    width: 180px;
    background: $main-color;
    color: #fff;
    border-radius: 15px;
    font-size: 28px;
    border: none;
    cursor: pointer;
}