.promo {
    position: relative;
    min-height: 106vh;
    padding-top: 43vh;
    //background: rgba(217, 193, 145, .5);
    background: url(./../img/bg_main.jpeg) center (center/cover) no-repeat;
    //background-position: 0 145px;
    &__header {
        font-size: 55px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: -3px 0 2px $main-color, 0 3px 2px $main-color, 3px 0 2px $main-color, 0 -3px 2px $main-color;
    }
    &__subheader {
        margin-top: 20px;
        font-size: 35px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'Times New Roman', Times, serif;
        text-shadow: -3px 0 2px $main-color, 0 3px 2px $main-color, 3px 0 2px $main-color, 0 -3px 2px $main-color;
    }
    &__advantages {
        width: 100%;
        max-width: 1280px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 0;
        transform: translateY(50%);
    }
    &__advantage {
        text-align: center;
        line-height: 100px;
        height: 100px;
        width: 250px;
        font-size: 18px;
        background: $orange-light;
        color: black;
    }
    &__helper {
        display: none;
    }
}

@media(max-width:1024px) {
    .promo {
        padding-bottom: 100px;
        &__advantages {
            width: 96%;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__advantage {
            height: 60px;
            width: 150px;
            line-height: 60px;
            font-size: 15px;
        }
        &__helper {
            display: block;
        }
    }
}

@media(max-width:575px) {
    .promo {
        background-position: 0;
        padding-top: 150px;
        &__advantages {
            transform: translateY(65%);
        }
        &__advantage {
            margin-top: 15px;
        }
        &__header {
            font-size: 45px;
        }
        &__subheader {
            font-size: 30px;
        }
    }
}